{% extends "base.html" %}

{% load i18n %}
{% block title %}Compañías{% endblock title %}

{% block content %}
<h2 class="title"> Listado de Compañías de {{ request.user.customer.customer_name }} </h2>
<a class="boton" href="{% url 'users:new_company' %}"><button type="button" class="btn"><span class="oi oi-plus"></span></button></a>
<br>
<br>
<div id="cont_danger">
</div>
<div class="cont_divs_list">
	{% for company in object_list %}
		<div class="div_list border_normal" id="div_list_{{ forloop.counter0 }}">
			<h4 class="h4_div"><a class="anchor_div_list" href="{% url 'users:company_detail' company.id %}">{{ company.company_name }}</a></h4>
			<a class="boton_edicion" href="{% url 'users:company_edit' company.pk %}">Editar</a> /
			<a class="anchor_delete" id="delete_{{ forloop.counter0 }}" data-model="{{ model }}" data-id="{{ company.id }}" href="#">Eliminar</a>
		</div>
	{% endfor %}
</div>
{% if is_paginated %}
	{% include 'core/paginado.html' %}
{% endif %}
{% endblock content %}
