{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Crear un Usuario {% endblock %}
{% block css %}
  <link href="{% static 'autocomplete_light/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
{% endblock css %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock javascript %}
{% block inner %}
<h1> Crear un Usuario </h1>

<form class="signup" id="signup_form" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit"> Registrar &raquo;</button>
</form>

{% endblock %}