{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}{% if not is_new_user %}{{ user.username }}{% else %} Crea tu username {% endif %}{% endblock %}

{% block conditions %}
{% endblock conditions %}

{% block conditions_2 %}
  <script type="text/javascript">
    document.getElementById("id_username").value = "";
  </script>
{% endblock conditions_2 %}

{% block content %}
  {% if not is_new_user %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
  {% else %}
  <h3>Crea tu nombre de usuario.</h3>
  <p>Crea tu nombre de usuario, además de introducir tus nombres y apellidos para cuando se generen las estimaciones puedan ser visibles en el área de firmas.</p>
  <p>Cuando termines el formulario presiona el botón para el siguiente paso.</p>
  <br>
  <br>
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      {% if field.label == 'Nombre de Usuario' %}
        {% bootstrap_field field %}
      {% elif field.label == 'Nombres' %}
        {% bootstrap_field field %}
      {% elif field.label == 'Apellidos' %}
        {% bootstrap_field field %}
      {% else %}
        {% bootstrap_field field form_group_class="d-none" %}
      {% endif %}
    {% endfor %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">¡Crea tu Username!</button>
      </div>
    </div>
  </form>
  {% endif %}
{% endblock %}
