{% extends "base.html" %}
{% load static %}

{% block title %} {{ object.username }}{% endblock %}

{% block content %}
<h2 class="title" > Detalle del usuario {{ object.username }}</h2>
<div class="cont_table_sample">
  <table class="table_sample table_detalle">
    <tr>
      <th colspan="2"> {{ object.username }}</th>
    </tr>
    <tr>
      <td>Nombre</td>
      <td>{{ object.first_name }}</td>
    </tr>
    <tr>
      <td>Apellidos</td>
      <td>{{ object.last_name }}</td>
    </tr>
    <tr>
      <td>Correo electrónico</td>
      <td>{{ object.email }}</td>
    </tr>
    <tr>
      <td>Nivel de Acceso</td>
      <td>{{object.nivel_acceso.nombre}}</td>
    </tr>
    <tr>
      <td>Fecha de registro</td>
      <td>{{ object.user_creation }}</td>
    </tr>
    <tr>
      <td><strong>Compañías de trabajo</strong></td>
      <td>
        {% if object.company.all.exists %}
          <ul style="list-style:none; padding:0;">
            {% for company in object.company.all %}
              <li>{{ company.company_name }}</li>
            {% endfor %}
          </ul>
        {% else %}
          ¡Este usuario no cuenta con compañías!
        {% endif %}
      </td>
      <td colspan="2" class="text-center"><a href="{% url 'users:update' object.username %}">Editar Usuario</a></td>
    </tr>
  </table>
</div>
<br>
<br>
{% endblock content %}