	<nav>
		<ul class="pagination">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
						<span>Anterior</span>
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#">
						<span>Anterior</span>
					</a>
				</li>
			{% endif %}

			{% for page in paginator.page_range %}
				<li {% if page == page_obj.number %}class="page-item active"{% endif %}>
					<a class="page-link" href="?page={{ page }}">{{ page }}</a>
				</li>
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">
						<span>Siguiente</span>
					</a>
				</li>
			{% else %}
				<li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
					<a class="page-link" href="#">
						<span>Siguiente</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>