{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
{% endblock css %}
{% block javascript %}
  <script type="text/javascript">
    var setPrefix = '{{ formset.prefix }}';
  </script>
  <script src="{% static 'js/inlineform.js' %}"></script>
  <script type="text/javascript">
    var formset = new Formset();

    formset.setup({
        prefix: setPrefix,
        callbacks: callbacks
    });
    $("#lanzar-excel").on("click", function(){
      $.ajax({
          type: 'GET',
          url: '/proyectos/contrato/catalogo-import/',
          success: function(result){
            $("#modal-body-excel")[0].innerHTML = result;
            $("#excelModalSubmit").on("click", function(evt){
              evt.preventDefault();
              let POST_data = $("#excel-form").serialize();
              if($("#excel-form").find("input#id_archivo_excel")[0].value != ""){
                $.ajax({
                    type: 'POST',
                    url: '/proyectos/contrato/catalogo-import/',
                    data: POST_data,
                    success: function(result){
                      debugger;
                      window.location.reload();
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhr: function () {
                      var myXhr = $.ajaxSettings.xhr();
                      if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                          if (e.lengthComputable) {
                            $('progress').attr({
                              value: e.loaded,
                              max: e.total,
                            });
                          }
                        }, false);
                      }
                      return myXhr;
                    }
                });
              } else {
                alert("¡Primero subir un archivo de excel!");
              }
            });
          }
      });
    });
  </script>
{% endblock javascript %}
{% block javascript_no_compress %}
  <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
{% endblock javascript_no_compress %}
{% block title %}{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
  <h3>Contrato {% if object.folio < 10 %}0{% endif %}{{ object.folio }} {{ object.contrato_shortName }}</h3>
  <button type="button" class="btn btn-default add-form-row">
      <span class="oi oi-plus" aria-hidden="true"></span>
  </button>
  <button type="button" id="lanzar-excel" style="position: absolute; right:40px;" class="btn btn-success" data-toggle="modal" data-target="#excelModal">Importar desde archivo de Excel</button>
  <br>
  <br>
  <form role="form" method="POST" class="form">
  {% csrf_token  %}
  {% bootstrap_formset_errors formset %}
  <table id="formset" class="form table_sample table_inline table_normal">
    {{ formset.management_form }}
    {% for frm in formset.forms %}
      {% bootstrap_form_errors frm %}
      {% if forloop.first %}
        <thead>
          <tr>
            {% if type == 'retenciones' %}
            <th> Nombre </th>
            <th> Tipo </th>
            <th> Valor </th>
            {% elif type == 'conceptos' %}
            <th> Código </th>
            <th> Concepto </th>
            <th> Unidad </th>
            <th> Cantidad </th>
            <th> Precio unitario </th>
            {% else %}
            <th> Nombre de la Unidad </th>
            {% endif %}
            <th> ¿Eliminar? </th>
          </tr>
        </thead>
      {% endif %}
      <tr class="{% cycle 'row1' 'row2' %} dynamic-form">
      {% for field in frm.visible_fields %}
          <td class="inlineRow">
          {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in frm.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
          </td>
      {% endfor %}
      </tr>
    {% endfor %}
    {{ formset.form.media }}
  </table>
  </form>
  <div class="modal fade" id="excelModal" tabindex="-1" role="dialog" aria-labelledby="excelModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="excelModal">Subir Catálogo desde Excel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-excel">
        
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="cont_buttons">
      <button class="btn"><a href="{% url 'proyectos:contrato_detail' pk=object.pk %}" id="cancelar" data-dismiss="modal">Cancelar</a></button>
      <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  </form>
  <br>
  <button type="button" class="btn btn-default add-form-row">
      <span class="oi oi-plus" aria-hidden="true"></span>
  </button>
{% endblock %}