{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
  <link href="{% static 'autocomplete_light/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
{% endblock css %}
{% block javascript %}
  <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <script type="text/javascript">
    var setPrefix = '{{ form.prefix }}';
  </script>
  <script src="{% static 'js/inlineform.js' %}"></script>
{% endblock javascript %}
{% block title %}{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h3>Contrato {% if object.folio < 10 %}0{% endif %}{{ object.folio }} {{ object.contrato_shortName }}</h3>
    <button type="button" class="btn btn-default add-form-row">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">MÁS</span>
    </button>
        {% bootstrap_formset form %}
    <button type="button" class="btn btn-default add-form-row">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">MÁS</span>
    </button>
{% endblock %}