{% load humanize %}
{% load static i18n compress %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Generador PDF{% endblock title %}</title>
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta charset="utf-8">
  {% compress css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}
      <style type="text/css">
        .color-g *, .color-b *, .concepto_info td, .image {
          border-style: solid;
          border-color: black;
          border-width: .5px;
        }
      </style>
    {% endblock css %}
  {% endcompress %}
</head>
<div class="est_cont">
  {% if conceptos.total_imagenes_estimacion.total_images %}
    <table class="generato">
      <tbody id="content_frame">
        {% for concepto in conceptos %}
          {% if concepto.cantidad_esta_estimacion %}
            <tr class="cc">
              <td class="concepto_container">
                <table>
                    <thead id="header_frame">
                      <tr>
                        <th class="sin_borde" colspan="8">
                          <div class="cont_est_gen">
                            <h5 class="m-0"> {{ estimate.project.cliente.cliente_name.upper }} </h5>
                            <h6 class="m-0"> RESIDENCIA DE CONSTRUCCIÓN </h6>
                            <h4 class="m-0"> GENERADOR DE OBRA PARA TRABAJOS POR P.U. </h4>
                          </div>
                        </th>
                      </tr>
                      <tr style="margin-bottom:25px;">
                        <th class="sin_borde" colspan="4">
                          <table class="informacion">
                            <tr>
                              <td>PROYECTO:</td>
                              <td class="bc subrayado"> {{ estimate.project.contrato_name }} </td>
                            </tr>
                            <tr>
                              <td>CONTRATO:</td>
                              <td class="bc subrayado"> {{ estimate.project.code }} </td>
                            </tr>
                            <tr>
                              <td>ÁREA:</td>
                              <td class="bc subrayado"> {{ estimate.project.sitio.sitio_name }} </td>
                            </tr>
                          </table>
                        </th>
                        <th class="sin_borde"></th>
                        <th class="sin_borde" colspan="3">
                          <table class="informacion">
                            <tr>
                              <td>CONTRATISTA:</td>
                              <td class="bc subrayado">
                                {% if estimate.project.cliente.company.full_name %} 
                                  {{ estimate.project.cliente.company.full_name }}
                                {% else %}
                                  {{ estimate.project.cliente.company.company_name }}
                                {% endif %}
                              </td>
                            </tr>
                            <tr>
                              <td>PERIODO:</td>
                              {% language 'es' %}<td class="bc subrayado"> Del {{ estimate.start_date|date:"d/F/Y" }} al {{ estimate.finish_date|date:"d/F/Y" }} </td>{% endlanguage %}
                            </tr>
                            <tr>
                              <td>PLANOS:</td>
                              <td class="bc subrayado"> - </td>
                            </tr>
                          </table>
                        </th>     
                      </tr>
                    </thead>
                  <tbody>
                    <tr class="center color-g header_frame">
                      <th rowspan="2">CÓDIGO</th>
                      <th rowspan="2" style="width: 350px;">DESCRIPCIÓN</th>
                      <th rowspan="2">LARGO</th>
                      <th rowspan="2">ANCHO</th>
                      <th rowspan="2">ALTO</th>
                      <th colspan="2">VOLUMEN EJECUTADO</th>
                      <th rowspan="2" style="width: 350px;">OBSERVACIONES</th>
                    </tr>
                    <tr class="center color-b">
                      <th>CANTIDAD</th>
                      <th>UNIDAD</th>
                    </tr>
                    {% language 'en' %}
                    <tr class="concepto_info" id="conc-{{ forloop.counter0 }}">
                      <td> {{ concepto.code }} </td>
                      <td class="generatorDescription"{% if pdf %}style="height: auto;"{% endif %}>
                        <p>{{ concepto.concept_text }}</p>
                      </td>
                      <td> {{ concepto.largo }} </td>
                      <td> {{ concepto.ancho }} </td>
                      <td> {{ concepto.alto }} </td>
                      <td class="right"> {{ concepto.cantidad_esta_estimacion|intcomma }} </td>
                      <td style="text-align:center;"> {{ concepto.unit.unit }} </td>
                      {% if concepto.observations %}
                        <td> {{ concepto.observations|linebreaksbr }} </td>
                      {% else %}
                        <td>
                        </td>
                      {% endif %}
                    </tr>
                    <tr class="image" id="img-{{ forloop.counter0 }}">
                      <td colspan="8" style="text-align: center;">
                          {% if concepto.image_count %}
                            {% for image in concepto.anotar_imagenes %}
                              <img class="estimateImage{{forloop.parentloop.counter}}" src="{{ image.image.url }}" style="max-width:32%">
                            {% endfor %}
                          {% endif %}
                      </td>
                    </tr>
                    {% endlanguage %}
                  </tbody>
                  <tfoot id="footer_frame">
                    <tr>
                      <td class="cont_firmas" colspan="8">
                        <div class="cont_firma">
                          <div class="bc subrayado_f"></div>
                          <p> <strong>{{ estimate.supervised_by.first_name }} {{ estimate.supervised_by.last_name }}</strong> </p>
                          <p> <strong>{% if user.puesto %} {{ user.puesto }} {% else %} Supervisor de Obras {% endif %}</strong></p>
                          <p> <strong>{{ request.user.currently_at.company_name }}</strong> </p>
                        </div>
                        {% for firma in estimate.auth_by_gen.all %}
                          <div class="cont_firma">
                            <div class="bc subrayado_f"></div>
                            <p><strong>{{ firma.destinatario_text }}</strong></p>
                            {% if firma.puesto %}
                              <p><strong>{{ firma.puesto }}</strong></p>
                              <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
                            {% else %}
                              <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
                              <p style="color:white">-</p>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <table class="generator bord-doble">
      <thead id="header_frame">
        <tr>
          <th class="sin_borde" colspan="8">
            <div class="cont_est_gen">
                <h5 class="m-0"> {{ estimate.project.cliente.cliente_name.upper }} </h5>
                <h6 class="m-0"> RESIDENCIA DE CONSTRUCCIÓN </h6>
                <h4 class="m-0"> GENERADOR DE OBRA PARA TRABAJOS POR P.U. </h4>
            </div>
          </th>
        </tr>
        <tr style="margin-bottom:25px;">
          <th class="sin_borde" colspan="4">
            <table class="informacion">
              <tr>
                <td>PROYECTO:</td>
                <td class="bc subrayado"> {{ estimate.project.contrato_name }} </td>
              </tr>
              <tr>
                <td>CONTRATO:</td>
                <td class="bc subrayado"> {{ estimate.project.code }} </td>
              </tr>
              <tr>
                <td>ÁREA:</td>
                <td class="bc subrayado"> {{ estimate.project.sitio.sitio_name }} </td>
              </tr>
            </table>
          </th>
          <th class="sin_borde" colspan="1"></th>
          <th class="sin_borde" colspan="3">
            <table class="informacion">
              <tr>
                <td>CONTRATISTA:</td>
                <td class="bc subrayado"> {{ estimate.project.cliente.company.company_name }} </td>
              </tr>
              <tr>
                <td>PERIODO:</td>
                {% language 'es' %}<td class="bc subrayado"> Del {{ estimate.start_date|date:"d/F/Y" }} al {{ estimate.finish_date|date:"d/F/Y" }} </td>{% endlanguage %}
              </tr>
              <tr>
                <td>PLANOS:</td>
                <td class="bc subrayado"> - </td>
              </tr>
            </table>
          </th>     
        </tr>
        <tr class="center color-g">
          <th rowspan="2">CÓDIGO</th>
          <th rowspan="2" style="width: 350px;">DESCRIPCIÓN</th>
          <th rowspan="2">LARGO</th>
          <th rowspan="2">ANCHO</th>
          <th rowspan="2">ALTO</th>
          <th colspan="2">VOLUMEN EJECUTADO</th>
          <th rowspan="2" style="width: 350px;">OBSERVACIONES</th>
        </tr>
        <tr class="center color-b">
          <th>CANTIDAD</th>
          <th>UNIDAD</th>
        </tr>
      </thead>
      <tbody id="content_frame">
        {% language 'en' %}
        {% for concepto in conceptos %}
          {% if concepto.cantidad_esta_estimacion %}
            <tr id="conc-{{ forloop.counter0 }}">
              <td> {{ concepto.code }} </td>
              <td class="generatorDescription">
                <p>{{ concepto.concept_text }}</p>
              </td>
              <td> {{ concepto.largo }} </td>
              <td> {{ concepto.ancho }} </td>
              <td> {{ concepto.alto }} </td>
              <td class="right"> {{ concepto.cantidad_esta_estimacion|intcomma }} </td>
              <td style="text-align:center;"> {{ concepto.unit.unit }} </td>
              {% if concepto.observations %}
                <td> {{ concepto.observations|linebreaksbr }} </td>
              {% else %}
                <td>
                </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
        {% endlanguage %}
      </tbody>
      <tfoot id="footer_generator">
        <tr>
          <td class="cont_firmas" colspan="8">
            <div class="cont_firma">
              <div class="bc subrayado_f"></div>
              <p> <strong>{{ estimate.supervised_by.first_name }} {{ estimate.supervised_by.last_name }}</strong> </p>
              <p> <strong>{% if user.puesto %} {{ user.puesto }} {% else %} Supervisor de Obras {% endif %}</strong></p>
              <p> <strong>{{ request.user.currently_at.company_name }}</strong> </p>
            </div>
            {% for firma in estimate.auth_by_gen.all %}
              <div class="cont_firma">
                <div class="bc subrayado_f"></div>
                <p><strong>{{ firma.destinatario_text }}</strong></p>
                {% if firma.puesto %}
                  <p><strong>{{ firma.puesto }}</strong></p>
                  <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
                {% else %}
                  <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
                  <p style="color:white">-</p>
                {% endif %}
              </div>
            {% endfor %}
          </td>
        </tr>
      </tfoot>
    </table>
  {% endif %}
</div>
{% bootstrap_javascript jquery='full' %}
{% compress js %}
  {% if request.user.is_authenticated %}<script src="{% static 'js/project.js' %}"></script>{% endif %}
{% endcompress %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    {% if conceptos.total_imagenes_estimacion.total_images %}
      var conceptos = {{ cantidad_de_conceptos }}; //Variable de contexto.
      var list = document.getElementsByClassName("image");
      var space_size = document.getElementsByClassName('header_frame')[0].offsetHeight +
                      document.getElementById("header_frame").offsetHeight +
                      document.getElementById("footer_frame").offsetHeight;
      var aux;
      if (list.length>0) {
        for(var i=0; i<conceptos; i++){
          if(document.getElementById("conc-"+i)!=null){
            aux = 900-(space_size+document.getElementById("conc-"+i).offsetHeight);
            document.getElementById('img-'+i).style.height = aux+"px";
          }
        }

        for(var i=0; i<conceptos; i++){
          if($("#img-"+i).length>0){
            lista_de_imagenes = document.getElementById("img-"+i).children[0].children;
            let numero_de_imagenes = lista_de_imagenes.length
            let percentage;
            if(numero_de_imagenes>0){
              if(numero_de_imagenes>1){
                percentage = ((100/lista_de_imagenes.length)-1+'%');
              } else {
                percentage = (99+'%');
              }
              for (let posicion=0; posicion < numero_de_imagenes; posicion++){
                lista_de_imagenes[posicion].style['max-width'] = percentage;
              }
            }
            for(var j=0; j<numero_de_imagenes; j++){
              var tam = parseInt(document.getElementById("img-"+i).style.height.substring(0, document.getElementById("img-"+i).style.height.length-2));
              while(lista_de_imagenes[j].offsetHeight >= tam){
                lista_de_imagenes[j].style.width = lista_de_imagenes[j].offsetWidth*.95 + 'px';
              }
            }
          }
        }
      }
    {% endif %}
    window.print()
  });
</script>
</html>