{% load humanize %}
{% load i18n %}
{% if pdf %}
  <style>
      @page {
          size: letter landscape;
          @frame header_generator{
            left: 50pt; top: 200pt; height: 40pt; margin: 1cm;
  /*
            
            left: 15pt;
            top: 20pt;
            height: 600pt;
            width: 780pt;*/
            -pdf-frame-content: header_content;
          }
          @frame content_frame{
            left: 50pt;
          }
      }
  </style>
{% endif %}
<table class="generator">
  <thead {% if pdf %}id="header_frame"{% endif %}>
    <tr>
      <th class="sin_borde" colspan="8">
        <div class="cont_est_gen">
          <h5> {{ estimate.project.cliente.cliente_name.upper }} </h5>
          <h6> RESIDENCIA DE CONSTRUCCIÓN </h6>
          <h4> GENERADOR DE OBRA PARA TRABAJOS POR P.U. </h4>
        </div>
      </th>
    </tr>
    <tr style="margin-bottom:25px;">
      <th class="sin_borde" colspan="4">
        <table class="informacion" style="width: 100%;">
          <tr>
            <td>PROYECTO:</td>
            <td class="subrayado"> {{ estimate.project.contrato_name }} </td>
          </tr>
          <tr>
            <td>CONTRATO:</td>
            <td class="subrayado" style="width: 200%;"> {{ estimate.project.code }} </td>
          </tr>
          <tr>
            <td>ÁREA:</td>
            <td class="subrayado"> {{ estimate.project.sitio.sitio_name }} </td>
          </tr>
        </table>
      </th>
      <th class="sin_borde" colspan="1"></th>
      <th class="sin_borde" colspan="3">
        <table class="informacion">
          <tr>
            <td>CONTRATISTA:</td>
            <td class="subrayado"> {{ estimate.project.cliente.company.company_name }} </td>
          </tr>
          <tr>
            <td>PERIODO:</td>
            <td class="subrayado"> Del {{ estimate.start_date|date:"d/F/Y" }} al {{ estimate.finish_date|date:"d/F/Y" }} </td>
          </tr>
          <tr>
            <td>PLANOS:</td>
            <td class="subrayado"> - </td>
          </tr>
        </table>
      </th>     
    </tr>
    <tr class="center">
      <th rowspan="2">CÓDIGO</th>
      <th rowspan="2" style="width: 600px;">DESCRIPCIÓN</th>
      <th rowspan="2">LARGO</th>
      <th rowspan="2">ANCHO</th>
      <th rowspan="2">ALTO</th>
      <th colspan="2">VOLUMEN EJECUTADO</th>
      <th rowspan="2" style="width: 600px;">OBSERVACIONES</th>
    </tr>
    <tr class="center">
      <th>CANTIDAD</th>
      <th>UNIDAD</th>
    </tr>
  </thead>
  <tbody {% if pdf %}id="content_frame"{% endif %}>
    {% language 'en' %}
  	{% for concepto in conceptos %}
  	  {% if concepto.cantidad_esta_estimacion %}
  	    <tr>
  	      <td> {{ concepto.code }} </td>
  	      <td class="generatorDescription">
  	        <p>{{ concepto.concept_text }}</p>
  	      </td>
  	      <td> {{ concepto.largo }} </td>
  	      <td> {{ concepto.ancho }} </td>
  	      <td> {{ concepto.alto }} </td>
  	      <td class="right"> {{ concepto.cantidad_esta_estimacion|intcomma }} </td>
  	      <td style="text-align:center;"> {{ concepto.unit.unit }} </td>
  	      {% if concepto.observations %}
  	        <td> {{ concepto.observations }} </td>
  	      {% else %}
  	        <td>
  	        </td>
  	      {% endif %}
  	    </tr>
  	    {% if conceptos.total_imagenes_estimacion.total_images %}
  	      <tr>
  	        <td colspan="8" style="height:600px; text-align: center;">
  	            {% if concepto.image_count %}
  	              {% for image in concepto.anotar_imagenes %}
  	                {% if concepto.image_count == 1 %}
  	                  <img class="estimateImage{{forloop.parentloop.counter}}" style="max-height: 99%;" src="{{ image.image.url }}">
  	                {% elif concepto.image_count == 2 %}
  	                  <img class="estimateImage{{forloop.parentloop.counter}}" style="max-height: 99%; max-width: 49%;" src="{{ image.image.url }}">
  	                {% else %}
  	                  <img class="estimateImage{{forloop.parentloop.counter}}" style="max-height: 49%; max-width: 49%;" src="{{ image.image.url }}">
  	                {% endif %}
  	              {% endfor %}
  	            {% else %}
  	              <img src="">
  	            {% endif %}
  	        </td>
  	      </tr>
  	    {% endif %}
  	  {% endif %}
  	{% endfor %}
    {% endlanguage %}
  </tbody>
  <tfoot {% if pdf %}id="footer_generator"{% endif %}>
    <tr>
      <td class="cont_firmas" colspan="8">
        <div class="cont_firma">
          <div class="subrayado_f"></div>
          <p> <strong>{{ estimate.supervised_by.first_name }} {{ estimate.supervised_by.last_name }}</strong> </p>
          <p> <strong>Supervisor de Obras </strong></p>
          <p> <strong>{{ request.user.currently_at.company_name }}</strong> </p>
        </div>
        {% for firma in estimate.auth_by_gen.all %}
          <div class="cont_firma">
            <div class="subrayado_f"></div>
            <p><strong>{{ firma.destinatario_text }}</strong></p>
            {% if firma.puesto %}
              <p><strong>{{ firma.puesto }}</strong></p>
              <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
            {% else %}
              <p><strong>{{ firma.cliente.cliente_name }}</strong></p>
              <p style="color:white">-</p>
            {% endif %}
          </div>
        {% endfor %}
      </td>
    </tr>
  </tfoot>
</table>
