{% load humanize %}
{% load static i18n compress %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  {% compress css %}
    <link href="{% static 'css/pdf.css' %}" rel="stylesheet">
    {% block css %}
      <style type="text/css">
        table.generator {
          border-width: 0px medium;
          border-color: white black !important;
        }
        body {
          border:0; 
          margin: 0;
          padding: 0;
        }
        .concepto_container {
          height: 128mm;
        }
        .color-g *, .color-b *, .concepto_info td, .image {
          border-style: solid;
          border-color: black;
          border-width: .5px;
        }
      </style>
    {% endblock css %}
  {% endcompress %}
</head>
<div class="est_cont">
<table class="generator">
  <tbody id="content_frame">
    {% language 'en' %}
    {% for concepto in conceptos %}
      {% if concepto.cantidad_esta_estimacion %}
        <tr class="cc">
          <td class="concepto_container">
            <table>
              <tbody>
                <tr class="center color-g header_frame">
                  <th rowspan="2">CÓDIGO</th>
                  <th rowspan="2" style="width: 350px;">DESCRIPCIÓN</th>
                  <th rowspan="2">LARGO</th>
                  <th rowspan="2">ANCHO</th>
                  <th rowspan="2">ALTO</th>
                  <th colspan="2">VOLUMEN EJECUTADO</th>
                  <th rowspan="2" style="width: 350px;">OBSERVACIONES</th>
                </tr>
                <tr class="center color-b">
                  <th>CANTIDAD</th>
                  <th>UNIDAD</th>
                </tr>
                <tr class="concepto_info" id="conc-{{ forloop.counter0 }}">
                  <td> {{ concepto.code }} </td>
                  <td class="generatorDescription"{% if pdf %}style="height: auto;"{% endif %}>
                    <p>{{ concepto.concept_text }}</p>
                  </td>
                  <td> {{ concepto.largo }} </td>
                  <td> {{ concepto.ancho }} </td>
                  <td> {{ concepto.alto }} </td>
                  <td class="right"> {{ concepto.cantidad_esta_estimacion|intcomma }} </td>
                  <td style="text-align:center;"> {{ concepto.unit.unit }} </td>
                  {% if concepto.observations %}
                    <td> {{ concepto.observations }} </td>
                  {% else %}
                    <td>
                    </td>
                  {% endif %}
                </tr>
                {% if conceptos.total_imagenes_estimacion.total_images %}
                  <tr class="image" id="img-{{ forloop.counter0 }}">
                    <td colspan="8" style="text-align: center;">
                        {% if concepto.image_count %}
                          {% for image in concepto.anotar_imagenes %}
                            <img class="estimateImage{{forloop.parentloop.counter}}" src="{{ image.image.url }}" style="max-width:32%">
                          {% endfor %}
                        {% endif %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    {% endlanguage %}
  </tbody>
</table>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var conceptos = {{ cantidad_de_conceptos }}; //Variable de contexto.
    var list = document.getElementsByClassName("image");
    var header_size = document.getElementsByClassName('header_frame')[0].offsetHeight;
    var aux;
    if (list.length>0) {
      for(var i=0; i<conceptos; i++){
        if(document.getElementById("conc-"+i)!=null){
          aux = 475.65-(header_size+document.getElementById("conc-"+i).offsetHeight);
          document.getElementById('img-'+i).style.height = aux+"px";
        }
      }
    }
  });
</script>
</html>