{% extends "base.html" %}

{% load i18n %}
{% block title %} Listado de Contratos en {{ request.user.currently_at.company_name }} {% endblock %}

{% block content %}
<h2 class="title"> Listado de Contratos en {{ request.user.currently_at.company_name }} </h2>
<a class="boton" href="{% url 'proyectos:nuevo_contrato' %}"><button type="button" class="btn"><span class="oi oi-plus"></span></button></a>
<br>
<br>
<div class="cont_divs_list">
	{% for i in object_list %}
		<div class="div_list">
			<h4 class="h4_div"><a class="anchor_div_list" href="{% url 'proyectos:contrato_detail' i.id %}">{{ i.contrato_name }}</a></h4>
			<p class="p_div_list"><strong>Fecha: </strong> {{ i.fecha }} </p>
			<p class="p_div_list"><strong>Monto: </strong> {{ i.monto }} </p>
		</div>
	{% endfor %}
</div>
{% if is_paginated %}	
	{% include 'core/templates/paginado.html' %}
{% endif %}
{% endblock %}