{% extends "base.html" %}
{% block javascript %}
	<script type="text/javascript">
	  let url_for_list = '{% url "proyectos:proyect_dashboard" %}';
	</script>
{% endblock javascript %}
{% load i18n %}
{% load humanize %}
{% block title %} Listado de Contratos en {{ request.user.currently_at.company_name }} {% endblock %}

{% block content %}
<h2 class="title"> Listado de Contratos en {{ request.user.currently_at.company_name }} </h2>
{% if current_user.is_administrator %}
	<a class="boton" href="{% url 'proyectos:nuevo_contrato' %}"><button type="button" class="btn"><span class="oi oi-plus"></span></button></a>
{% endif %}
<br>
<br>
<div id="cont_danger">
</div>
<div class="cont_divs_list">
	{% for i in object_list %}
		<div class="div_list border_normal">
			<h4 class="h4_div"><a class="anchor_div_list" href="{% url 'proyectos:contrato_detail' i.id %}">{{ i.folio }}. {{ i.contrato_shortName }}</h4></a>
			<p class="p_div_list"><strong>Fecha: </strong> {{ i.fecha }} </p>
			<p class="p_div_list"><strong>Monto: </strong> ${% language 'en' %}{{ i.monto|intcomma }}{% endlanguage %} </p>
			<a class="boton_edicion" href="{% url 'proyectos:editar_contrato' i.id %}">Editar</a> / 
			<a class="anchor_delete" id="delete_{{ forloop.counter0 }}" data-model="{{ model }}" data-id="{{ i.id }}" href="#">Eliminar</a>
		</div>
	{% endfor %}
</div>
{% if is_paginated %}	
	{% include 'core/paginado.html' %}
{% endif %}
{% endblock %}