{% extends "base.html" %}
{% load humanize %}
{% block title %} Detalle de {{ contrato.contrato_shortName }} {% endblock %}
{% block javascript %}
    <script type="text/javascript">
    let url_for_list = '{% url "proyectos:proyect_dashboard" %}'
    $(document).ready(function(){
        let len = 0;
        if($(".icon_right").length){
            var intcomma = function(value) {
                // inspired by django.contrib.humanize.intcomma, thanks to @banterabilitybanterability
                var origValue = String(value);
                var newValue = origValue.replace(/^(-?\d+)(\d{3})/, '$1,$2');
                if (origValue == newValue){
                    return newValue;
                } else {
                    return intcomma(newValue);
                }
            };
            function lanzar_catalogo_conceptos(){
                var data_id = $("#dato")[0].getAttribute("data-id");
                $.ajax({
                    url: "{% url 'construbot.proyectos:catalogo_conceptos_listado' contrato.id %}",
                    success: function(result){
                        result = result.conceptos;
                        len = result.length;
                        if(len>0){
                            $(".table_results")[0].style.display = "inline-table";
                            for(i=1; i<=len; i++){
                                var row = $(".table_results")[0].insertRow(i);
                                var row_content = "<td>"+result[i-1]["code"]+"</td><td style='text-align:left;'>"+result[i-1]["concept_text"]+"</td><td>"+result[i-1]["unit"]+"</td><td>"+result[i-1]["cuantity"]+"</td><td>"+"$ "+intcomma(result[i-1]["unit_price"])+"</td>";
                                row.innerHTML = row_content;
                            }
                        }
                    }
                });
            }
            $(".icon_right").on("click", function(){
                lanzar_catalogo_conceptos();
            });
            $(".icon_right-up").on("click", function(){
                if(len>0){
                    for(i=0; i<len; i++){
                        $(".table_results")[0].deleteRow(1);
                    }
                }
            });
            let t1;
            $( ".toggle-button-2" ).click(function(evt) {
                $(evt.currentTarget.parentElement).find(".toggle-button-2").css("display", "none");
                $(evt.currentTarget.parentElement).find(".toggle-button-1").css("display", "block");
                $(evt.currentTarget.parentElement.parentElement.nextElementSibling).css("display", "none")
            });
            $( ".toggle-button-1" ).click(function(evt) {
                $(evt.currentTarget.parentElement).find(".toggle-button-2").css("display", "block");
                $(evt.currentTarget.parentElement).find(".toggle-button-1").css("display", "none");
                $(evt.currentTarget.parentElement.parentElement.nextElementSibling).css("display", "block")
            });
        }
        $(".lanzar-contrato").on("click", function(evt){
            let url = evt.currentTarget.dataset['url'];
            $(".contrato-widget").find("object").attr("data", url);
        });
    });
    </script>
{% endblock javascript %}
{% block content %}
<h2 class="title" > Reporte de contrato </h2>
<div id="dato" data-id="{{ contrato.id }}"></div>
<div class="cont_table_sample">
    <table class="table_sample table_detalle">
        <tr>
            <th colspan="2">{{ contrato.folio }}. {{ contrato.contrato_shortName }}</th>
        </tr>
        <tr>
            <td>Código de contrato</td>
            <td>{{ contrato.code }}</td>
        </tr>
        <tr>
            <td>Nombre corto</td>
            <td>{{ contrato.contrato_shortName }}</td>
        </tr>
        <tr>
            <td>Cliente</td>
            <td><a href="{% url 'construbot.proyectos:cliente_detail' contrato.contraparte.id %}">{{ contrato.contraparte.cliente_name }}</a></td>
        </tr>
        <tr>
            <td>Sitio</td>
            <td><a href="{% url 'construbot.proyectos:sitio_detail' contrato.sitio.id %}">{{ contrato.sitio.sitio_name }}</a></td>
        </tr>
        {% if almenos_coordinador %}
        <tr>
            <td>Monto sin IVA</td>
            <td>$ {{ contrato.monto|intcomma }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Fecha de Firma</td>
            <td>{{ contrato.fecha|date:"d/F/Y" }}</td>
        </tr>
        <tr>
            <td>¿Terminado?</td>
            <td><strong>{% if status %}Sí{% else %}No{% endif %}</strong></td>
        </tr>
        {% if almenos_coordinador %}
        <tr>
            <td class="text-center" colspan="2"><a href="{% url 'proyectos:editar_contrato' contrato.pk %}">Editar Contrato</a></td>
        </tr>
        {% endif %}
    </table>
</div>
<br>
{% if almenos_coordinador %}
<div class="cont_listado">
    <strong>Catálogo de conceptos </strong>
    <div class="float-right">
        <span class="oi oi-plus icon_right toggle-button-1"></span><span class="oi oi-minus icon_right-up toggle-button-2" style="display:none;"></span>
    </div>
</div>
{% endif %}
{% if contrato.concept_set.exists %}
<table id="table_results" class="table_results table_sample">
    <tr>
        <th> Código </th>
        <th style="width:500px;"> Concepto </th>
        <th> Unidad </th>
        <th> Cantidad </th>
        <th> Precio unitario </th>
    </tr>
    <tr>
        <td colspan="5">
            <a href="{% url 'construbot.proyectos:catalogo_conceptos' contrato.id %}">Editar Catálogo</a>
        </td>
    </tr>
</table>
{% else %}
<div id="catalogo-vacio" class="cont_message cont_message_no_result" style="background:white;">
    ¡No existe catálogo de concepto!, crear <a href="{% url 'construbot.proyectos:catalogo_conceptos' contrato.id %}">aquí</a>.
</div>
{% endif %}
<br>
<br>
<div class="cont_listado alert alert-danger" id="cont_est_danger">
</div>
<div class="cont_listado">
    <strong> Listado de estimaciones </strong>
</div>
{% if contrato.estimate_set.exists %}
    <table class="table_sample table_normal">
        <tbody>
            <tr>
                <th> No. </th>
                <th> Nombre </th>
                {% if almenos_coordinador %} <th> Monto </th>
                <th> F. de Pago </th>{% endif %}
                <th> Editar </th>
            </tr>
        {% for estimacion in contrato.get_estimaciones %}
            <tr>
                <td>{{ estimacion.consecutive }}</td>
                <td><a href="{% url 'proyectos:estimate_detail' estimacion.id %}">Estimación {{ estimacion.consecutive }}</a></td>
                {% if almenos_coordinador %}<td>$ {{ estimacion.total_estimate.total|intcomma }}</td>
                <td>{{ estimacion.payment_date|date:"d/F/Y" }}</td>{% endif %}
                <td>
                    <a href="{% url 'proyectos:editar_estimacion' estimacion.pk %}">Editar</a>{% if almenos_coordinador %} /
                    <a class="anchor_est_delete" data-model="Estimate" data-id="{{ estimacion.id }}" href="#">Eliminar</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crear estimación</a>
                </td>
            </tr>
        </tbody>
    </table>
{% elif contrato.concept_set.exists %}
    <div class="cont_message text-center"> No existen estimaciones para este contrato aún. <a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crea una aquí</a>.</div>
{% endif %}
<br>
<br>
{% if almenos_coordinador %}
    <div class="cont_listado">
        <strong> Listado de retenciones </strong>
        <div class="float-right">
            <span class="oi oi-plus toggle-button-1" style="display:none"></span><span class="oi oi-minus toggle-button-2"></span>
        </div>
    </div>
    {% if contrato.retenciones_set.exists %}
        <table class="table_sample table_normal toggle-hide">
            <tbody>
                <tr>
                    <th> Nombre </th>
                    <th> Valor </th>
                </tr>
            {% for retencion in contrato.retenciones_set.all %}
                <tr>
                    <td>{{ retencion.nombre }}</td>
                    <td>{% if retencion.tipo == 'AMOUNT' %}$ {% endif %}{{ retencion.valor|intcomma }}{% if retencion.tipo == 'PERCENTAGE' %}%{% endif %}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2">
                        <a href="{% url 'proyectos:catalogo_retenciones' contrato.id %}">Editar Retenciones</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <div id="toggle-hide" class="cont_message text-center">¡No hay retenciones existentes, crear <a href="{% url 'proyectos:catalogo_retenciones' contrato.id %}">aquí</a>.</div>
    {% endif %}
    <div class="cont_listado">
        <strong>Subcontratos</strong>
        <a class="float-right" href="">Reporte de Subcontratistas</a>
        <div class="float-right">
            <span class="oi oi-plus toggle-button-1" style="display:none"></span><span class="oi oi-minus toggle-button-2"></span>
        </div>
    </div>
    {% if contrato.get_children_count %}
        <table class="table_sample table_normal toggle-hide">
            <tbody>
                <th>Código</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Ejercido</th>
                <th>Editar</th>
            </tbody>
            {% for subcontrato in contrato.get_children %}
                <tr>
                    <td>{{ subcontrato.code }}</td>
                    <td>{{ subcontrato.contraparte }}</td>
                    <td>{{ subcontrato.monto|intcomma }}</td>
                    <td>{{ subcontrato.ejercido_acumulado|intcomma }}</td>
                    <td></td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No hay subcontratos.</td></tr>
            {% endfor %}
        </table>
    {% endif%}
    <br>
    <br>
    <div class="cont_listado">
        <strong> Vista previa del contrato </strong>
        <div class="float-right">
            {% if contrato.file %}
            <span data-url={{ contrato.file.url }} class="oi oi-plus toggle-button-1 lanzar-contrato"></span><span class="oi oi-minus toggle-button-2 contraer-contrato" style="display:none"></span>
            {% else %}
            <span data-url="" class="oi oi-plus toggle-button-1 lanzar-contrato"></span><span class="oi oi-minus toggle-button-2 contraer-contrato" style="display:none"></span>
            {% endif %}
        </div>
    </div>
    {% if contrato.file %}
        <div class="contrato-widget toggle-hide">
            <object data="" type="application/pdf" width="100%" height="600px">
            </object>
        </div>
    {% else %}
        <div id="toggle-hide" style="display:none;" class="cont_message text-center">¡No ha subido el PDF del contrato!, súbalo <a href="{% url 'proyectos:editar_contrato' contrato.id %}">Aquí</a>.</div>
    {% endif %}
{% endif %}
{% endblock %}
