{% extends "base.html" %}
{% load bootstrap4 %}
{% block css %}
  <link rel='stylesheet' href='https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css'>
{% endblock css %}
{% block javascript %}
  <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
  <script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js'></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#id_fecha').datetimepicker({'format':"YYYY-MM-DD"});
    });
  </script>
{% endblock javascript %}
{% block title %}{% endblock %}

{% block content %}
  <h1></h1>
  <form style="position:relative" class="form-horizontal" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Enviar</button>
      </div>
    </div>
  </form>
{% endblock %}
