{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %} Detalle de {{ contrato.contrato_shortName }} {% endblock %}

{% block content %}
{% language 'es' %}
<h2 class="title" > Detalle del contrato {{ contrato.contrato_name }}</h2>
<div id="dato" data-id="{{ contrato.id }}"></div>
<div class="cont_table_sample">
	<table class="table_sample table_detalle">
		<tr>
			<th colspan="2">{{ contrato.folio }}. {{ contrato.contrato_name }}</th>
		</tr>
		<tr>
			<td>Código de contrato</td>
			<td>{{ contrato.code }}</td>
		</tr>
		<tr>
			<td>Nombre corto</td>
			<td>{{ contrato.contrato_shortName }}</td>
		</tr>
		<tr>
			<td>Cliente</td>
			<td>{{ contrato.cliente.cliente_name }}</td>
		</tr>
		<tr>
			<td>Sitio</td>
			<td>{{ contrato.sitio.sitio_name }}</td>
		</tr>
		<tr>
			<td>Monto sin IVA</td>
			<td>$ {% language 'en' %}{{ contrato.monto|intcomma }}{% endlanguage %}</td>
		</tr>
		<tr>
			<td>Fecha de Firma</td>
			<td>{{ contrato.fecha|date:"d/F/Y" }}</td>
		</tr>
		<tr>
			<td>¿Terminado?</td>
			<td><strong>{% if status %}Sí{% else %}No{% endif %}</strong></td>
		</tr>
	</table>
</div>
<br>
<div class="cont_listado">
	<strong>Catálogo de conceptos </strong>
	<span class="oi oi-chevron-left icon_right"></span><span class="oi oi-chevron-bottom icon_right-up"></span>
</div>
<table class="table_results table_sample">
	<tr>
		<th> Código </th>
		<th> Concepto </th>
		<th> Unidad </th>
		<th> Cantidad </th>
		<th> Precio unitario </th>
	</tr>
	<tr>
		<td colspan="5">
			<a href="{% url 'construbot.proyectos:catalogo_conceptos' contrato.id %}">Editar Catálogo</a>
		</td>
	</tr>
</table>
<div class="cont_message_no_result">¡No existe catálogo de concepto!, crear <a href="{% url 'construbot.proyectos:catalogo_conceptos' contrato.id %}"><strong>aquí</strong></a>.</div>
{% if contrato.estimate_set.exists %}
	<h2 class="title"> Listado de estimaciones de {{ contrato.contrato_shortName }}</h2>
	<table class="table_sample table_normal">
		<tbody>
			<tr>
				<th> No. </th>
				<th> Nombre </th>
				<th> Monto </th>
				<th> F. de Pago </th>
				<th> Editar </th>
			</tr>
		{% for estimacion in contrato.estimate_set.all %}
			<tr>
				<td>{{ estimacion.consecutive }}</td>
				<td><a href="{% url 'proyectos:estimate_detail' estimacion.id %}">Estimación {{ estimacion.consecutive }}</a></td>
				<td>{% language 'en' %}$ {{ estimacion.total_estimate.total|intcomma }}{% endlanguage %}</td>
				<td>{{ estimacion.payment_date|date:"d/F/Y" }}</td>
				<td>
					<a href="{% url 'proyectos:editar_estimacion' estimacion.pk %}">Editar</a> /
					<a href="">Eliminar</a>
				</td>
			</tr>
		{% endfor %}
			<tr>
				<td colspan="5">
					<a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crear estimación</a>
				</td>
			</tr>
		</tbody>
	</table>
{% else %}
	<h3 class="title"> No existen estimaciones para este contrato aún. <a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crea una aquí</a>.</h3>
{% endif %}
{% endlanguage %}
{% endblock %}

{# CÓDIGO, DESCRIPCIÓN, CONCEPTO, UNIDAD, CANTIDAD, PRECIO UNITARIO #}
