{% extends "base.html" %}
{% load humanize %}
{% block title %} Detalle de {{ contrato.contrato_shortName }} {% endblock %}
{% block javascript %}
    <script type="text/javascript">
    let url_for_list = '{% url "proyectos:proyect_dashboard" %}'
    $(document).ready(function(){
        let len = 0;
        if($(".icon_right").length){
            var intcomma = function(value) {
                // inspired by django.contrib.humanize.intcomma, thanks to @banterabilitybanterability
                var origValue = String(value);
                var newValue = origValue.replace(/^(-?\d+)(\d{3})/, '$1,$2');
                if (origValue == newValue){
                    return newValue;
                } else {
                    return intcomma(newValue);
                }
            };
            let t1;
            $( ".toggle-button-2" ).click(function(evt) {
                $(evt.currentTarget.parentElement).find(".toggle-button-2").css("display", "none");
                $(evt.currentTarget.parentElement).find(".toggle-button-1").css("display", "block");
                $(evt.currentTarget.parentElement.parentElement.nextElementSibling).css("display", "none")
            });
            $( ".toggle-button-1" ).click(function(evt) {
                $(evt.currentTarget.parentElement).find(".toggle-button-2").css("display", "block");
                $(evt.currentTarget.parentElement).find(".toggle-button-1").css("display", "none");
                $(evt.currentTarget.parentElement.parentElement.nextElementSibling).css("display", "block")
            });
        }
        $("#vprev-tab").on("click", function(evt){
            $(".contrato-widget").find("object").attr("data", evt.currentTarget.dataset['url']);
        });

        function call_previous_info(){
          if($(".active.nav-link").parent().prev().length > 0){
            $(".active.nav-link").parent().prev().children()[0].click();
          } else {
            $(".nav-link").last().click();
          }
        }

        function call_next_info(){
          if($(".active.nav-link").parent().next().length > 0){
            $(".active.nav-link").parent().next().children()[0].click();
          } else {
            $(".nav-link").first().click()
          }
        }

        $(document).keydown(function(event) {
          if(event.which === 40 || event.which === 38){
            event.preventDefault();
            if(event.which === 40){
              call_next_info();
            }else{
              call_previous_info();              
            }
          }
        });
    });
    </script>
{% endblock javascript %}
{% block content %}
<a class="btn btn-secondary boton-arriba position-fixed" href="#arriba">▲</a>
<a class="btn btn-secondary boton-abajo position-fixed" href="#abajo">▼</a>
<h2 style="margin-left:5%" class="title" id="arriba"> Reporte de {% if not contrato.is_root %}sub{% endif %}contrato </h2>
<div id="dato" data-id="{{ contrato.id }}"></div>
<div class="cont_table_sample">
    <table class="table_sample table_detalle">
        <tr>
            <th colspan="2">Datos Generales</th>
        </tr>
        <tr>
            <td>Código de contrato</td>
            <td>{{ contrato.code }}</td>
        </tr>
        <tr>
            <td>Nombre corto</td>
            <td>{{ contrato.contrato_shortName }}</td>
        </tr>
        <tr>
            <td>{{ contrato.contraparte.tipo_display }}</td>
            <td><a href="{% url 'construbot.proyectos:cliente_detail' contrato.contraparte.id %}">{{ contrato.contraparte.cliente_name }}</a></td>
        </tr>
        <tr>
            <td>Sitio</td>
            <td><a href="{% url 'construbot.proyectos:sitio_detail' contrato.sitio.id %}">{{ contrato.sitio.sitio_name }}</a></td>
        </tr>
        {% if almenos_coordinador %}
        <tr>
            <td>Monto sin IVA</td>
            <td>$ {{ contrato.monto|intcomma }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Fecha de Firma</td>
            <td>{{ contrato.fecha|date:"d/F/Y" }}</td>
        </tr>
        <tr>
            <td>¿Terminado?</td>
            <td><strong>{% if status %}Sí{% else %}No{% endif %}</strong></td>
        </tr>
        {% if not contrato.is_root %}
            <tr>
                <td>Contrato Padre</td>
                <td><a href="{% url 'proyectos:contrato_detail' contrato.get_parent.pk %}">{{ contrato.get_parent.contrato_shortName }}</a></td>
            </tr>
        {% endif %}
        {% if almenos_coordinador %}
          <tr>
              <td class="text-center" colspan="2"><a href="{% url 'proyectos:editar_contrato' contrato.pk %}">Editar Contrato</a></td>
          </tr>
        {% endif %}
    </table>
</div>
<!-- INICIAN EXPERIMENTOS -->
<div class="resumes_container" id="abajo">
  <div class="row">
    <div class="col-md-3 mb-3">
        <ul class="nav nav-pills flex-column resumelist" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="concc-tab" data-toggle="tab" href="#concc" role="tab" aria-controls="concc" aria-selected="false">Catálogo de Conceptos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="listest-tab" data-toggle="tab" href="#listest" role="tab" aria-controls="listest" aria-selected="false">Listado de Estimaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="lisr-tab" data-toggle="tab" href="#lisr" role="tab" aria-controls="lisr" aria-selected="false">Listado de Retenciones</a>
          </li>
          {% if contrato.is_root %}
            <li class="nav-item">
              <a class="nav-link" id="subc-tab" data-toggle="tab" href="#subc" role="tab" aria-controls="subc" aria-selected="false">Subcontratos</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" id="vprev-tab" data-toggle="tab" href="#vprev" role="tab" aria-controls="vprev" data-url="{% if contrato.file %}{{ contrato.file.url }}{% else %}{% endif %}" aria-selected="false">Vista Previa del Contrato</a>
          </li>
        </ul>
    </div>
      <!-- /.col-md-4 -->
    <div class="col-md-9 resumes">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="concc" role="tabpanel" aria-labelledby="concc-tab">
          <h2 style="margin-left:5%">Catálogo de Conceptos</h2>
          <br>
          <table class="table_sample text-center">
            <tr>
              <th> Código </th>
              <th style="width:500px;"> Concepto </th>
              <th> Unidad </th>
              <th> Cantidad </th>
              <th> Precio unitario </th>
            </tr>
            {% for concepto in contrato.concept_set.all %}
              <tr>
                <td> {{ concepto.code }} </td>
                <td> {{ concepto.concept_text }} </td>
                <td> {{ concepto.unit.unit }} </td>
                <td> {{ concepto.total_cuantity }} </td>
                <td> {{ concepto.unit_price }} </td>
              </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="text-center">
                    <a href="{% url 'construbot.proyectos:catalogo_conceptos' contrato.id %}">Editar Catálogo</a>
                </td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="listest" role="tabpanel" aria-labelledby="listest-tab">
          <h2 style="margin-left:5%">Listado de Estimaciones</h2>
          <br>
          {% if contrato.estimate_set.exists %}
            <table class="table_sample table_normal">
              <tbody>
                <tr>
                  <th> No. </th>
                  <th> Nombre </th>
                  {% if almenos_coordinador %} <th> Monto </th>
                  <th> F. de Pago </th>{% endif %}
                  <th> Editar </th>
                </tr>
              {% for estimacion in contrato.get_estimaciones %}
                <tr>
                  <td>{{ estimacion.consecutive }}</td>
                  <td><a href="{% url 'proyectos:estimate_detail' estimacion.id %}">Estimación {{ estimacion.consecutive }}</a></td>
                  {% if almenos_coordinador %}<td>$ {{ estimacion.total_estimate.total|intcomma }}</td>
                  <td>{{ estimacion.payment_date|date:"d/F/Y" }}</td>{% endif %}
                  <td>
                    <a href="{% url 'proyectos:editar_estimacion' estimacion.pk %}">Editar</a>{% if almenos_coordinador %} /
                    <a class="anchor_est_delete" data-model="Estimate" data-id="{{ estimacion.id }}" href="#">Eliminar</a>{% endif %}
                  </td>
                </tr>
              {% endfor %}
                <tr>
                  <td colspan="5">
                    <a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crear estimación</a>
                  </td>
                </tr>
              </tbody>
            </table>
            {% elif contrato.concept_set.exists %}
                <div class="cont_message text-center"> No existen estimaciones para este contrato aún. <a href="{% url 'proyectos:nueva_estimacion' contrato.id %}">Crea una aquí</a>.</div>
            {% else %}
                <div class="cont_message text-center"> No existe un catalogo para este contrato aún. Crea uno primero.</div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="lisr" role="tabpanel" aria-labelledby="lisr-tab">
          <h2 style="margin-left:5%">Listado de Retenciones</h2>
          <br>
          {% if contrato.retenciones_set.exists %}
            <table class="table_sample table_normal toggle-hide">
              <tbody>
                <tr>
                    <th> Nombre </th>
                    <th> Valor </th>
                </tr>
                {% for retencion in contrato.retenciones_set.all %}
                  <tr>
                    <td>{{ retencion.nombre }}</td>
                    <td>{% if retencion.tipo == 'AMOUNT' %}$ {% endif %}{{ retencion.valor|intcomma }}{% if retencion.tipo == 'PERCENTAGE' %}%{% endif %}</td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td colspan="2">
                      <a href="{% url 'proyectos:catalogo_retenciones' contrato.id %}">Editar Retenciones</a>
                    </td>
                  </tr>
                </tbody>
            </table>
          {% else %}
              <div id="toggle-hide" class="cont_message text-center">¡No hay retenciones existentes, crear <a href="{% url 'proyectos:catalogo_retenciones' contrato.id %}">aquí</a>.</div>
          {% endif %}
        </div>
        {% if contrato.is_root %}
          <div class="tab-pane fade" id="subc" role="tabpanel" aria-labelledby="subc-tab">
            <h2 style="margin-left:5%">Listado de Subcontratos</h2>
            <a href="{% url 'proyectos:nuevo_subcontrato' contrato.pk %}"><button style="margin-left:5%; margin-bottom: 2%;" class="btn">Agregar subcontratista</button></a>
            <table class="table_sample table_normal toggle-hide">
              <tbody>
                <th>Código</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Ejercido</th>
                <th>Editar</th>
              </tbody>
              {% for subcontrato in contrato.get_top_10_children %}
                <tr>
                  <td>{{ subcontrato.code }}</td>
                  <td><a href="{% url 'proyectos:contrato_detail' subcontrato.id %}">{{ subcontrato.contrato_shortName }}</a></td>
                  <td>{{ subcontrato.monto|intcomma }}</td>
                  <td>{{ subcontrato.ejercido_acumulado|intcomma }}</td>
                  <td></td>
                </tr>
              {% empty %}
                <tr><td colspan="5">No hay subcontratos. Crea uno <a href="{% url 'proyectos:nuevo_subcontrato' contrato.pk %}">aquí</a>.</td></tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
        <div class="tab-pane fade" id="vprev" role="tabpanel" aria-labelledby="vprev-tab">
          <h2 style="margin-left:5%">Vista Previa del Contrato</h2>
          <br>
          {% if contrato.file %}
            <div class="contrato-widget toggle-hide">
              <object data="" type="application/pdf" width="100%" height="600px">
                </object>
            </div>
          {% else %}
            <div id="toggle-hide" class="cont_message text-center">¡No ha subido el PDF del contrato!, súbalo <a href="{% url 'proyectos:editar_contrato' contrato.id %}">Aquí</a>.</div>
          {% endif %}
        </div>
      <!-- /.col-md-8 -->
      </div>
    </div>
  </div>
</div>
<!-- TERMINAN EXPERIMENTOS -->
{% endblock %}
