{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
  <link rel='stylesheet' href='https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css'>
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
  <link href="{% static 'autocomplete_light/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
{% endblock css %}
{% block css_no_compress %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css_no_compress %}
{% block javascript %}
  <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  {#<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js'></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var fecha = $("#id_fecha");
      var fecha_limpia = fecha[0].value.replace(/\[|\'|\]/g,'');
      fecha.datetimepicker({'format':"YYYY-MM-DD"});
      if (fecha_limpia){
        fecha[0].value = fecha_limpia;
      }
    });
  </script>
{% endblock javascript %}
{% block title %}{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
  <h1></h1>
  <form style="position:relative" class="form-horizontal" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Enviar</button>
      </div>
    </div>
  </form>
{% endblock %}
