{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block css %}
{% endblock css %}
{% block css_no_compress %}
  {% if is_new_user %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/themes/introjs-modern.css" crossorigin="anonymous" />
  {% endif %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css_no_compress %}
{% block javascript %}
    {% if dummy_file %}
      <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
      <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
      <script src="{% static 'js/jquery.fileupload.js' %}"></script>
      <script src="{% static 'js/spark-md5.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/dummy_files.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      if($("#id_fecha").length){
        var fecha = $("#id_fecha");
        var fecha_limpia = fecha[0].value.replace(/\[|\'|\]/g,'');
        fecha.datetimepicker({'format':"YYYY-MM-DD"});
        if (fecha_limpia){
          fecha[0].value = fecha_limpia;
        }
      }
    });
  </script>
{% endblock javascript %}
{% block conditions %}
<script type="text/javascript">
  {% if request.path != '/proyectos/contrato/nuevo/' %}
    alert("Estimado usuario, para nosotros es importante que termines el tutorial, por favor, presiona aceptar.");
    window.location.replace({% url 'proyectos:proyect_dashboard' %});
  {% else %}
    window.onload = function() {
      introJs().setOption('doneLabel', '¡Bien!').setOption('showBullets', false).start().oncomplete(function() {
        let POST_token = $("#user_form").serialize();
        $.ajax({
                type: 'POST',
                url: '{% url "users:remove_is_new" request.user.pk %}',
                data: POST_token,
                success: function(result){
                  window.location.reload();
                }
            });
      });
    };
  {% endif %}
</script>
{% endblock conditions %}
{% block javascript_no_compress %}
  {% if is_new_user %}<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>{% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock javascript_no_compress %}
{% block title %}{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
  {% if is_new_user %}
  <form style="display:none;" id="user_form" action="" method="post">
      {% csrf_token %}
  </form>
  <form data-step="5" data-intro="<strong>Crea tu primer contrato. </strong> Te servirá para iniciar tu primer catálogo de conceptos y posteriormente generar estimaciones. ¡Gracias por completar el tutorial!</strong>." style="position:relative" class="form-horizontal" method="post">
  {% else %}
  <form style="position:relative" class="form-horizontal" method="post" enctype="multipart/form-data">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if dummy_file %}
      <div id="dummy_parent">
        <div id="dummy_file" class="input-group mb-3">
          <div class="custom-file">
            <input type="document" class="custom-file-input img-input">
              <label class="custom-file-label" for="inputGroupFile01">
                Adjuntar archivo.
              </label>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
