{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block title %} Detalle de {{ destinatario.destinatario_text }} {% endblock %}

{% block content %}
{% language 'es' %}
<h2 class="title" > Detalle de {{ destinatario.destinatario_text }}</h2>
<div class="cont_table_sample">
	<table class="table_sample table_detalle">
		<tr>
			<th colspan="2" class="th_table_sample">Detalle</th>
		</tr>
		<tr>
			<td class="td_table_sample">Nombre del destinatario</td>
			<td class="td_table_sample">{{ destinatario.destinatario_text }}</td>
		</tr>
		{% if destinatario.puesto %}
		<tr>
			<td class="td_table_sample">Puesto</td>
			<td class="td_table_sample">{{ destinatario.puesto }}</td>
		</tr>
		{% endif %}
		<tr>
			<td class="td_table_sample">Cliente</td>
			<td class="td_table_sample">{{ destinatario.cliente.cliente_name }}</td>
		</tr>
	</table>
</div>
<br>
{% endlanguage %}
{% endblock %}