{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %} Detalle de {{ sitio.sitio_name }} {% endblock %}

{% block content %}
{% language 'es' %}
<h1> Detalle del sitio {{ sitio.sitio_name }}</h1>
<div class="cont_table_sample">
	<table class="table_sample table_detalle_contrato">
		<tr>
			<th colspan="2" class="th_table_sample">Detalle</th>
		</tr>
		<tr>
			<td class="td_table_sample">Nombre del sitio</td>
			<td class="td_table_sample">{{ sitio.sitio_name }}</td>
		</tr>
		<tr>
			<td class="td_table_sample">Locación del sitio</td>
			<td class="td_table_sample">{{ sitio.sitio_location }}</td>
		</tr>
		<tr>
			<td class="td_table_sample">Compañía</td>
			<td class="td_table_sample">{{ sitio.company.company_name }}</td>
		</tr>
	</table>
</div>
<br>
{% if sitio.contrato_set.exists %}
	<h3> Listado de contratos con el sitio: </h3>
	<table class="table_sample table_detalle_contrato">
		<tr>
			<th class="th_table_sample"> Fecha </th>
			<th class="th_table_sample"> Nombre </th>
			<th class="th_table_sample"> Monto </th>
			<th class="th_table_sample"> Sitio </th>
		</tr>
	{% for contrato in sitio.get_contratos_ordenados %}
		<tr>
			<td class="td_table_sample">{{ contrato.fecha|date:"d/F/Y" }}</td>
			<td class="td_table_sample"><a href="{% url 'proyectos:contrato_detail' contrato.id %}">{{ contrato.contrato_shortName }}</a></td>
			<td class="td_table_sample">$ {% language 'en' %}{{ contrato.monto|intcomma }}{% endlanguage %}</td>
			<td class="td_table_sample">{{ contrato.sitio.sitio_name }}</td>
		</tr>
	{% endfor %}
{% endif %}
{% endlanguage %}
{% endblock %}