{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load humanize %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css'>
    <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
    <link href="{% static 'autocomplete_light/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
{% endblock css %}
{% block javascript %}
    <script type="text/javascript">
        var setPrefix = '{{ image_formset_prefix }}'.split(',').map(function(x){return x.replace(/&#39;|\[|\]|\s/g, '')});
    </script>
    <script src="{% static 'js/inlineform.js' %}"></script>
    <script type="text/javascript">
        var fileSets = document.getElementsByClassName('dynamic-form');
        var formset = undefined;
        for(var i = 0; i<fileSets.length; i++){
            formset = new Formset();
            formset.setup({
                prefix: setPrefix[i],
                callbacks: callbacks,
                form_selector: '.set-' + i,
                nested: true
            });
        }
    </script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
    <script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var fecha = [$("#id_auth_date"), $("#id_start_date"), $("#id_finish_date"), $("#id_payment_date")];
            for(var i=0; i<fecha.length; i++){
                if(fecha[i].length>0){
                    var fecha_limpia = fecha[i][0].value.replace(/\[|\'|\]/g,'');
                    var padre = fecha[i].parent();
                    padre[0].style.position = 'relative';
                    fecha[i].datetimepicker({'format':"YYYY-MM-DD"});
                    if (fecha_limpia){
                        fecha[i][0].value = fecha_limpia;
                    }
                }
            }
        });
    </script>
{% endblock javascript %}
{% block content %}
{% language 'es' %}
    <form role="form" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token  %}
            <h3>Projecto: {{ project_instance.contrato_shortName }}</h3>
            <div class='fila_par'>
                <h4 style="margin: 0 0 10px 0;">Datos Generales de la Estimación.</h4>
                {{ form.non_form_errors }}
                {% bootstrap_form_errors form %}
                {% bootstrap_form form %}
            </div>
        {{ generator_inline_concept.management_form }}
        {% for frm in generator_inline_concept %}
            <div class="{% cycle 'fila_impar' 'fila_par' %}">
                <div style="text-align: center;"><h4>Concepto: {{ frm.concept.value }}</h4></div>
                {{ frm.id }}
                {% bootstrap_field frm.concept %}
                {% bootstrap_field frm.cuantity_estimated %}
                {% bootstrap_field frm.observations %}

                {% if frm.nested %}
                    {{ frm.nested.management_form }}
                    <div class="dynamic-form">
                        {{ frm.nested.non_form_errors }}
                        {% for nested_form in frm.nested.forms %}
                            <div class="set-{{ forloop.parentloop.counter0 }}">
                                {% bootstrap_form_errors nested_form %}
                                {% if nested_form.initial %}
                                    {% bootstrap_form nested_form %}
                                {% else %}
                                    <div class="form-group">
                                        <input type="file" name="{{ nested_form.prefix }}-image" id="id_{{ nested_form.prefix }}-image" class="file">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" disabled placeholder="Subir imagen">
                                            <span class="input-group-btn">
                                                <button class="browse btn btn-primary input-lg" type="button"><i class=""></i> Browse</button>
                                            </span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="{{ nested_form.prefix }}-id" value="{{ forloop.parentloop.counter }}" id="id_{{ nested_form.prefix }}-id">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label for="id_{{ nested_form.prefix }}-DELETE">
                                                <input type="checkbox" name="{{ nested_form.prefix }}-DELETE" class="" id="id_{{ nested_form.prefix }}-DELETE"> Eliminar
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="{{ nested_form.prefix }}-estimateconcept" value="{{ forloop.parentloop.counter }}" id="id_{{ nested_form.prefix }}-estimateconcept">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="button" class="add-form-row">agregar archivo</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="cont_buttons">
            <button class="btn"><a href="{% url 'proyectos:contrato_detail' pk=project_instance.pk %}" id="cancelar" data-dismiss="modal">Cancelar</a></button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endlanguage %}
{% endblock %}
