{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load humanize %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css'>
	<link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
	<link href="{% static 'autocomplete_light/select2.css' %}" type='text/css' media='all' rel='stylesheet'>
{% endblock css %}
{% block javascript %}
	<script src='https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js'></script>
	<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
	<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
	<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
	{#<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>#}
	<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
	<script src='https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js'></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var fecha = [$("#id_auth_date"), $("#id_start_date"), $("#id_finish_date"), $("#id_payment_date")];
		for(var i=0; i<fecha.length; i++){
			if(fecha[i].length>0){
				var fecha_limpia = fecha[i][0].value.replace(/\[|\'|\]/g,'');
				var padre = fecha[i].parent();
				padre[0].style.position = 'relative';
				if (fecha_limpia){
					fecha[i][0].value = fecha_limpia;
				}
				fecha[i].datetimepicker({'format':"YYYY-MM-DD"});
			}
		}
	});
	</script>
{% endblock javascript %}
{% block content %}
{% language 'es' %}
	<form role="form" method="post" class="form">
		{% csrf_token  %}
		{% if form.management_form %}
			{{ form.management_form }}
			    {% for frm in form %}
					<div class="dynamic-form">
						<span class="glyphicon glyphicon-plus add-form-row" aria-hidden="true"></span>
			        	{{ frm }}
			    	</div>
			    {% endfor %}
		{% else %}
			<h3>Projecto: {{ project_instance.contrato_shortName }}</h3>
			<div class='fila_par'>
				<h4 style="margin: 0 0 10px 0;">Datos Generales de la Estimación.</h4>
				{% bootstrap_form form %}
			</div>
		{% endif%}
		{% if generator_inline_concept.management_form %}
			{{ generator_inline_concept.management_form }}
			    {% for frm in generator_inline_concept %}
					<div class="dynamic-form {% cycle 'fila_impar' 'fila_par' %}">
						<div style="text-align: center;">
							<h4>Concepto: 
								{% if operation == 'Create' %}
									{% for obj in generator_inline_concept.initial_extra %}
										{% if obj.concept.id == frm.concept.value %}
											{{ obj.concept.code }}
										{% endif %}
									{% empty %}
										S/N
									{% endfor %}
								{% else %}
									{{ frm.instance.concept.code }}
								{% endif %}
							</h4>
						</div>
						{{ frm.id }}
			        	{% bootstrap_field frm.concept %}
						{#{% bootstrap_field frm.concept_text_input layout='horizontal' %} #}
			        	{% bootstrap_field frm.cuantity_estimated %}
			        	{% bootstrap_field frm.observations %}
			        	{# {{ frm.concept }} #}
			        	{# {{ frm.concept_text_input }} #}
			        	{# {{ frm.cuantity_estimated }} #}
			    	</div>
			    {% endfor %}
		{% endif %}
		{% if pk %}
		<a href="{% url 'pmgt:ContractDetail' pk=project_instance.id %}" id="cancelar" class="btn btn-default" data-dismiss="modal">Cancelar</a>
		{% endif %}
		<button id="submitModal" type="submit" class="btn btn-primary">Guardar</button>
	</form>
{% endlanguage %}
{% endblock %}
