{% extends "base.html" %}

{% load i18n %}
{% block title %}Some title{% endblock title %}
{% block content %}
{% language 'es' %}
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<h2 class="title"> Sample para estimacion </h2>
<br>
<div class="cont_estimacion">
	<table class="estimate">
		<thead>
				<tr>
					<th colspan="6">
						<div class="cont_est_title">
							<h3> {{ estimate.project.cliente.cliente_name }}</h3>
							<h4> {{ estimate.project.contrato_name }} </h4>
							<p> Estimación de obra </p>
						</div>
					</th>
					<th colspan="8">
						<table class="cont_est_data">
							<thead>
								<tr>
									<th>Contratista:</th>
									<td class="subrayado"> {{ estimate.project.cliente.company.company_name }} </td>
								</tr>
								<tr>
									<th>Contrato:</th>
									<td class="subrayado"> {{ estimate.project.code }} </td>
								</tr>
								<tr>
									<th>Estimación N°:</th>
									<td class="subrayado"> {{ estimate.consecutive }} </td>
								</tr>
								<tr>
									<th>Fecha:</th>
									<td class="subrayado"> {{ estimate.auth_date|date:"d/F/Y" }} </td>
								</tr>
								<tr>
									<th>Período:</th>
									<td class="subrayado"> Del {{ estimate.start_date|date:"d/F/Y" }} al {{ estimate.finish_date|date:"d/F/Y" }} </td>
								</tr>
							</thead>
						</table>
					</th>
				</tr>		
				<tr class="center">
					<th rowspan="2">N°</th>
					<th rowspan="2">CONCEPTOS DE OBRA</th>
					<th colspan="4">CONTRATADO</th>
					<th colspan="2">ESTIMADO ANTERIOR</th>
					<th colspan="2">ESTIMADO A LA FECHA</th>
					<th colspan="2">ESTA ESTIMACIÓN</th>
				</tr>
				<tr class="center">
					<th>UNIDAD</th>
					<th>CANTIDAD</th>
					<th>P.U.</th>
					<th>IMPORTE</th>
					<th>CANTIDAD</th>
					<th>IMPORTE</th>
					<th>CANTIDAD</th>
					<th>IMPORTE</th>
					<th>CANTIDAD</th>
					<th>IMPORTE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Recolección de muestras de agua: 1 en el Cárcamo I y 1 en el Cárcamo II  y 4 verticales sobre la pared de  la "La Noria" ubicada al sur de las escorias,  incluye la determinación en el laboratorio de Geoquímica de la UNAM de Pb, As y Cd por ICP-OES previa digestión acida de acuerdo al anexo normativo B de la NOM-147 en muestras filtradas y no-filtradas.</td>
					<td>Metro2</td>
					<td>100</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Recuperación de 3 muestras de escorias finas, incluye la determinación de Pb, As, y Cd por fluorescencia de Rayos X y la evaluación de la huella geoquímica de  las escorias por Microscopia Electrónica de Barrido.  Se incluyen 3 muestras de filtros de aire proporcionadas por el Dr. Ortega.</td>
					<td>Metro2</td>
					<td>100</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Análisis e integración de resultados, las incidencias y las problemáticas presentadas durante la ejecución de las obras de conservación y mantenimiento, así como las estrategias de solución implementadas.</td>
					<td>Metro2</td>
					<td>100</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Análisis e integración de resultados, las incidencias y las problemáticas presentadas durante la ejecución de las obras de conservación y mantenimiento, así como las estrategias de solución implementadas.</td>
					<td>Metro2</td>
					<td>100</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
					<td>$1,000,000.00</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="cont_firmas" colspan="14">
						<div class="cont_firma">
							<p>Nombre 1</p>
							<p>Puesto de trabajo de nombre 1</p>
							<p>Empresa de nombre 1</p>
							<div class="subrayado_f"></div>
						</div>
						<div class="cont_firma">
							<p>Nombre 2</p>
							<p>Puesto de trabajo de nombre 2</p>
							<p>Empresa de nombre 2</p>
							<div class="subrayado_f"></div>
						</div>
						<div class="cont_firma">
							<p>Nombre 3</p>
							<p>Puesto de trabajo de nombre 3</p>
							<p>Empresa de nombre 3</p>
							<div class="subrayado_f"></div>
						</div>
					</td>
				</tr>
			</tfoot>
	</table>
</div>
{% endlanguage %}
{% endblock content %}
