{% comment %}
{% if widget.is_initial %}
	{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>
	{% if not widget.required %}
		<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" />
		<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
	{% endif %}
	<br />
	{{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
{% endcomment %}

<div class="input-group mb-3 img_input">
	<div class="alert_text">¡Se eliminará al momento de guardar!</div>
	<div class="input-group-prepend remove_span">
		<span onmouseover="event_appear()" onmousemove="event_move()" onmouseleave="erase()" class="input-group-text"><span class="oi oi-circle-x"></span></span>
	</div>
 	<div class="custom-file">
		<input type="{{ widget.type }}" class="custom-file-input" id="inputGroupFile01" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    	<label class="custom-file-label" for="inputGroupFile01">
    		{% if widget.is_initial %}
    			{{ widget.initial_text }}: <a href="">{{ widget.value }}</a>
    		{% else %}
	    		Adjuntar imagen.
    		{% endif %}
   		</label>
	</div>
</div>
{% if widget.is_initial %}
	<a href="{{ widget.value.url }}" target="_blank"> Vista previa </a>
{% endif %}