{% load humanize %}
{% load i18n %}
{% if pdf %}
  {% load static i18n compress %}
  {% load bootstrap4 %}
  <!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="utf-8">
      {% compress css %}
        <link href="{% static 'css/pdf.css' %}" rel="stylesheet">
      {% endcompress %}
      <style type="text/css">
          body {
            border:0; 
            margin: 0;
            padding: 0;
            height: 40mm;
          }
          body * {
            font-size: 11px;
          }
          .cont_est_gen * {
            margin: 10px 0;
            padding: 8px;
          }
          .est_cont {
            height: 100%;
          }
      </style>
    </head>
  <div class="est_cont">
{% endif %}
<table class="generator generator_header">
  <thead id="header_frame">
    <tr>
      <th class="sin_borde" colspan="3">
        <div class="cont_est_gen">
          <h5> {{ estimate.project.cliente.cliente_name.upper }} </h5>
          <h6> RESIDENCIA DE CONSTRUCCIÓN </h6>
          <h4> GENERADOR DE OBRA PARA TRABAJOS POR P.U. </h4>
        </div>
      </th>
    </tr>
    <tr style="margin-bottom:25px;">
      <th class="sin_borde">
        <table class="informacion">
          <tr>
            <td>PROYECTO:</td>
            <td class="bc subrayado"> {{ estimate.project.contrato_name }} </td>
          </tr>
          <tr>
            <td>CONTRATO:</td>
            <td class="bc subrayado"> {{ estimate.project.code }} </td>
          </tr>
          <tr>
            <td>ÁREA:</td>
            <td class="bc subrayado"> {{ estimate.project.sitio.sitio_name }} </td>
          </tr>
        </table>
      </th>
      <th class="sin_borde"></th>
      <th class="sin_borde">
        <table class="informacion">
          <tr>
            <td>CONTRATISTA:</td>
            <td class="bc subrayado"> {{ estimate.project.cliente.company.full_name }} </td>
          </tr>
          <tr>
            <td>PERIODO:</td>
            <td class="bc subrayado"> Del {{ estimate.start_date|date:"d/F/Y" }} al {{ estimate.finish_date|date:"d/F/Y" }} </td>
          </tr>
          <tr>
            <td>PLANOS:</td>
            <td class="bc subrayado"> - </td>
          </tr>
        </table>
      </th>     
    </tr>
  </thead>
</table>
{% if pdf %}
  </div>
  </html>
{% endif %}