{% extends "base.html" %}
{% load projecttags %}
{% block title %} Reporte de Estimaciones de Subcontratos {% endblock %}
{% block content %}
<table class="table_sample">
    <thead>
        <th>Nombre del Contrato</th>
        <th>Monto contratado</th>
        <th>Estimado Anterior</th>
        <th>Acumulado</th>
        <th>Estimación Actual</th>
    </thead>
    <tbody>
        {% for subestimacion in subestimaciones %}
        <tr>
                <td>{{ subestimacion.project.contrato_shortName }}</td>
                <td>{{ subestimacion.contratado|moneda }}</td>
                <td>{{ subestimacion.anterior|moneda }}</td>
                <td>{{ subestimacion.acumulado|moneda }}</td>
                <td>{{ subestimacion.estimado|moneda }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}