{% extends "base.html" %}
{% load projecttags %}
{% block title %} Reporte de Estimaciones de Subcontratos {% endblock %}
{% block content %}
<h2>Estimaciones con fecha de terminación entre {{ estimate.start_date }} y {{ estimate.finish_date }}</h2>
<table class="table_sample table_normal">
    <thead>
        <tr>
            <th>Nombre del Contrato</th>
            <th>Monto contratado</th>
            <th>Estimado Anterior</th>
            <th>Acumulado</th>
            <th>Estimación Actual</th>
        </tr>
    </thead>
    <tbody>
        {% for subestimacion in subestimaciones %}
        <tr>
                <td>{{ subestimacion.project.contrato_shortName }}</td>
                <td>{{ subestimacion.contratado|moneda }}</td>
                <td>{{ subestimacion.anterior|moneda }}</td>
                <td>{{ subestimacion.acumulado|moneda }}</td>
                <td>{{ subestimacion.estimado|moneda }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Totales</td>
            <td> {{ contratado|moneda }}</td>
            <td>{{ anterior|moneda }}</td>
            <td>{{ acumulado|moneda }}</td>
            <td>{{ actual|moneda }}</td>
        </tr>
    </tfoot>
</table>
{% endblock content %}