{% extends "base.html" %}

{% block content %}
<h1>Sample para tablas</h1>
<div class="cont_table_sample">
	<table class="table_sample">
		<tr>
			<th colspan="3">Tabla de muestra</th>
		</tr>
		<tr>
			<th>Campo 1</th>
			<th>Campo 2</th>
			<th>Campo 3</th>
		</tr>
		<tr>
			<td>Campo 1.1</td>
			<td>Campo 1.2</td>
			<td>Campo 1.3</td>
		</tr>
		<tr>
			<td>Campo 2.1</td>
			<td>Campo 2.2</td>
			<td>Campo 2.3</td>
		</tr>
		<tr>
			<td>Campo 3.1</td>
			<td>Campo 3.2</td>
			<td>Campo 3.3</td>
		</tr>
	</table>
</div>
<h1>Sample para listados</h1>
<div class="cont_divs_list">
	<div class="div_list">
		<h4 class="h4_div"><a class="anchor_div_list" target="_blank" href="/">Num. Propuesta .....</a></h4>
		<p class="p_div_list"><strong>Fecha: </strong> 18/08/1998</p>
		<p class="p_div_list"><strong>Monto: </strong> $530,000.00</p>
	</div>
	<div class="div_list">
		<h4 class="h4_div"><a class="anchor_div_list" target="_blank" href="/">Num. Propuesta .....</a></h4>
		<p class="p_div_list"><strong>Fecha: </strong> 18/08/1998</p>
		<p class="p_div_list"><strong>Monto: </strong> $530,000.00</p>
	</div>
	<div class="div_list">
		<h4 class="h4_div"><a class="anchor_div_list" target="_blank" href="/">Num. Propuesta .....</a></h4>
		<p class="p_div_list"><strong>Fecha: </strong> 18/08/1998</p>
		<p class="p_div_list"><strong>Monto: </strong> $530,000.00</p>
	</div>
</div>
{% endblock content %}