{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
{% endif %}
<div class="row">
  <div class="col-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-8 card">
    <div class="card-body">
      <div class="card-header">
        <h2>Iniciar Sesión</h2>
      </div>
      <br>
      {% if allow_register %}
        <p>{% blocktrans %}Si tu aún no tienes una cuenta, por favor 
        <a href="{{ signup_url }}">regístrate</a> primero.{% endblocktrans %}</p>
      {% endif %}
      <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="w-100"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu contraseña?" %}</a></div>
      <br>
      <br>
      <button class="primaryAction btn btn-primary" type="submit">{% trans "Entra" %}</button>
      </form>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-1"></div>
</div>
{% endblock %}

