/*ESTILOS PATA TABLAS*/
tr { page-break-inside: avoid !important; }
td { page-break-inside: avoid !important; }
th { page-break-inside: avoid !important; }

p {
	margin: 0;
}

* {
	font-size: 8px;
}
table {
	border-collapse: collapse;
}

.table_left td {
	text-align: left;
	padding: 2.5px;
}

.table_left {
	margin-bottom: 30px;
}

.cont_table_sample {
	width: 100%;
}

.table_detalle tr>td {
	text-align: left;
    padding: .3em .3em .3em 5.5%;
}

.table_sample {
	width: 90%;
	margin-left: 5%;
	box-shadow: 0px 0px 6px 0px;
}

.table_results {
	text-align: center;
	display: none;
}

.table_normal tr>td {
	text-align: center;
	padding: 4px;
}

.table_sample tr>th {
	text-align: center;
	padding: 4px;	
	background-color: #086898;
	color: white;
	border-color: white;
}

.table_sample tr>td {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #cacaca;
}

/*.th_table_sample, .td_table_sample {
	text-align: center;
	padding: 8px;
}*/
/*FIN DE ESTILOS PARA TABLAS*/

/*ESTILOS PARA ESTIMACION*/
table.informacion * {
	padding: 0 !important;
}

table.estimate, table.generator {
	font-size: 11px;
	width: 100%;
	border-color: black;
	border-style: double;
	margin-bottom: 10px;
}

table.estimate * , table.generator * {
	padding: 2px;
}

.cont_est_gen {
	text-align: center;
}

.cont_est_title {
	text-align: center;
	font-size: 8px;
    font-family: "Playfair Display", serif;
}

.cont_est_title > p{
	margin: 5px 0;
	font-size: 8px;
	padding: 0;
}

.cont_est_title > h4 {
	font-size: 18px;
}

.cont_est_data {
	border-style: none;
}

.subrayado {
    border-style: solid;
    min-width: 200px;
    border-width: 0 0 2px 0;
}

.bc {
	border-color: white white black white;
}

.subrayado_f {
    border-style: solid;
    border-width: 0 0 1px 0;
}

.center {
	text-align: center;
}

.estimate > tbody > tr > td, .estimate > thead > tr > th, .generator > tbody > tr > td, .generator > thead > tr > th {
	border-style: solid;
	border-width: 1px;
}

.sin_borde {
	border-style: none !important;
}

.cont_firmas {
	text-align: center;
}

.cont_firma {
	display: inline-block;
	width: 20%;
	min-height: 105px;
}

.cont_firma > p {
	padding: 0;
	margin: 0;
}

.cont_firma > div {
	margin-top: 30px;
	margin-bottom: 10px;
}

.right {
	text-align: right;
}

/*FIN DE ESTILOS PARA ESTIMACION*/
/*FIN DE ESTILOS*/

