<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="error505_1.css">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
</head>
<body>
	<div class="mainContainer">
		<div class="errorMessageContainer">
			<h1>ERROR 500!!!</h1>		
			<h2 class="errorMessage">
				<span class="torcido">Lo sentimos! estamos teniendo</span>
				<span class="derecho">dificultades con el servidor.</span>
			</h2>
			<div class="fallingmanContainer">
				<img src="fallingman.png" alt="falling man">
			</div>
		</div>
	<footer class="desc">
		<h5><a href="http://www.flaticon.com">Con ayuda de Freepik</a></h5>
	</footer>
	
	</div>
</body>
</html> 