{% if is_new_user and request.path == '/proyectos/' %}
<div id="cont_menu_lateral" class="d-print-none cont_menu_lateral" data-step="1" data-intro="Este es el menú principal, te dará acceso a toda las funcionalidades de Construbot.">
{% else %}
<div id="cont_menu_lateral" class="d-print-none cont_menu_lateral">
{% endif %}
  <div class="menu_lateral">
    <ul class="list_menu">
      {% for item in menu %}
      {% if item.always_appear or is_administrador %}
        <li class="{% if item.type == 'submenu' %}li_submenu{% else %}li_menu_item{% endif %}">
          <a class="{% if item.type == 'submenu' %}anchor_menu_subitem{% else %}anchor_menu_item{% endif %}" href="{{ item.url }}"><span class="icon_menu oi oi-{{ item.icon }}"></span><span class="menuSign">{{ item.title }}</span></a>
          {% if item.parent %}
            <ul class="list_subsubmenu">
              {% for subitem in item.submenu %}
              {% if subitem.always_appear or is_administrador %}
                <li class="li_menu_subitem">
                  <a class="anchor_subsubmenu_item" href="{{ subitem.url }}"><span class="icon_menu oi oi-{{ subitem.icon }}"></span><span class="submenuSign">{{ subitem.title }}</span></a>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
      {% endfor %}
      <li class="anchor_menu_item" id="event_menu_in"><span class="icon_menu oi oi-arrow-thick-left"></span></li>
      <li class="anchor_menu_item" id="event_menu_out"><span class="icon_menu oi oi-arrow-thick-right"></span></li>
    </ul>
  </div>
</div>
