<div class="c_m_lateral">
  <div class="m_lateral">
    <ul class="l_menu">
      {% for i in menu %}
      <li class="li_menu_item"><a class="a_menu_item" href="{{ i.url }}"><span class="ic_menu oi oi-{{ i.icon }}"></span>{{ i.title }}</a></li>
      <li class="li_menu_subitem">
        <a class="a_menu_subitem">Submenu 1</a>
        <ul class="l_subsubmenu">
          <li><a>OPCION 1.1.1</a></li>
          <li><a>OPCION 1.1.2</a></li>
          <li><a>OPCION 1.1.3</a></li>
          <li><a>OPCION 1.1.4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>